# fly.toml app configuration file generated for deo-orchestrator on 2025-10-09T14:52:57-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'deo-orchestrator'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 2
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[[statics]]
  guest_path = '/app/public'
  url_prefix = '/static/'
