/* === HOME CONTENT === */
.home-content {
    position: absolute;
    left: calc(50% - 28px);
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-content .template-title {
    margin-bottom: 32px;
}