<!-- VIEW: HOME -->
<section class="view view-home" id="home">
    <div class="home-content">
        <h2 class="template-title">Welcome back, <span id="user-name">User</span>!</h2>
        <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.5/dist/dotlottie-wc.js" type="module"></script>
        <dotlottie-wc
            src="https://lottie.host/d2d64f3c-2454-4093-8d99-94ce5e820d7b/urmdRjCWHn.lottie"
            style="width: 300px; height: 300px;"
            autoplay
            loop>
        </dotlottie-wc>
    </div>
</section>