<!-- VIEW: HOME -->
<section class="view view-home" id="home">
    <div class="home-content">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player 
            src="https://lottie.host/cc2f51e9-b2d6-4de3-a6c0-31275da61761/XKqLkXxZjV.json"
            background="transparent"
            speed="1"
            style="width: 300px; height: 300px;"
            loop
            autoplay>
        </lottie-player>
        <h2 class="template-title">Welcome back</h2>
        <p class="template-subtitle" id="user-name">User</p>
    </div>
</section>