<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEO</title>
    <link rel="stylesheet" href="/static/css/app.css?v=5">
</head>
<body>
    <div class="app-layout">
        {% include 'sections/sidebar.html' %}
        {% include 'sections/header.html' %}
        {% include 'sections/content.html' %}
    </div>

    <!-- JavaScript -->
    <script src="/static/js/utils.js?v=6"></script>
    <script src="/static/js/tabs.js?v=6"></script>
    <script src="/static/js/workspaces.js?v=6"></script>
    <script src="/static/js/templates.js?v=6"></script>
    <script src="/static/js/dashboards.js?v=6"></script>
    <script src="/static/js/teams.js?v=6"></script>
    <script src="/static/js/settings.js?v=6"></script>
    <script src="/static/js/app.js?v=6"></script>
</body>
</html>